Listen 81

<VirtualHost {{virtualhost.domain}}:{{virtualhost.port}}>

    ServerAdmin webmaster@localhost
    DocumentRoot {{virtualhost.document_root}}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>